<h1>New Question</h1>

<%= form_tag "/questions", method: :post do %>
  <div>
    Title: <input type="text", name="title">
  </div>


  <div class="input-group input-group-lg">
    Question: <input type="text" class="form-control" placeholder="Type your question here" aria-describedby="sizing-addon1">
  </div>
  <div>
    Posted by: <input type="text", name="posted_by">
  </div>
  <br>
  <div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-primary">Submit Question</button>
  </div>
<% end %>



