<h1>New Question</h1>

<%= form_tag "/questions", method: :post do %>
  <div>
    Title: <input type="text", name="title">
  </div>
  <div>
    Question: <input type="text", name="problem">
  </div>
  <div>
    Status: <input type="text", name="status">
  </div>
  <div>
    <input type="submit", value="Submit Question">
  </div>

<% end %>


