<hr>
<h3>Edit your Solution</h3>
<hr>

<%= form_tag "/answers/#{@answer.id}", method: :patch do %>
  <div>
    <%= text_area_tag :solution, @answer.solution, :class => "form-control" %>
  </div>
  <br>
  <div>
    <%= submit_tag "Update Solution", :class => "btn btn-sm btn-success" %>
  </div>

<% end %>