<h1>New Solution</h1>

<%= form_tag "/answers", method: :post do %>
  <div>
    Solution: <input type="text", name="solution">
  </div>
  <div>
    <input type="submit", value="Submit Suggestion">
  </div>

<% end %>